.uui-table thead tr {
    background-color:rgba(102,102,102,0.95);
}
.uui-table thead tr th{
    color: white !important;
    text-transform: uppercase;
}
.childSelected::before{
    width: 10px;
    height: 10px;
    border-width: 3px;
    background: #666666;
}
tr[class="treegrid-child"] td div p.uui-checkbox{
    margin-left: 20px;
}
.legend{
    background-color: #1A9CB0;
    color: #FFFFFF;
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}