<div *ngIf='scriptViewer'>
    <div class="script-viewer-header">
        <div class="container">
            <div class="final-score-box">
                <div class="final-score-label-value average-final-score-label-value">
                    <h2><span>{{ getFinalRating() | number:'1.0-1' }}</span></h2>
                </div>
                <span class="final-score-label-text">Final Score</span>
            </div>
            <div class="final-score-box">
                <div class="final-score-label-value">
                    <h2><span>{{ getExercisesRating() | number:'1.0-1' }}</span></h2>
                </div>
                <span class="final-score-label-text">Exercises</span>
            </div>
            <div class="final-score-box">
                <div class="final-score-label-value">
                    <h2><span>{{ getSkillsRating() | number:'1.0-1' }}</span></h2>
                </div>
                <span class="final-score-label-text">Skills</span>
            </div>
            <div class="script-viewer-title-box">
                <h2>{{ scriptViewer.competencyName }} {{ scriptViewer.domain }}</h2>
                <span class="competency-level-label-value">{{ scriptViewer.level.name }} - {{ scriptViewer.level.description }}</span>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <button class="uui-button lime-green script-viewer-top-btn" (click)="showPreview()">{{ !isOnPreview ? 'Interview Report' : 'Back to Script Viewer' }}</button>
        <button class="uui-button lime-green script-viewer-top-btn" (click)="copyToClipBoard()" id="btnCopyToClipBoard" *ngIf="isOnPreview">Copy to ClipBoard</button>
        <br><br><br>
        <div id="uuiCarousel" class="slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div>
                        <!-- SKILLS SET -->
                        <section class="uui-accordion cards-accordion" id="accordion-skills" *ngIf="scriptViewer.skills && scriptViewer.skills.length">
                            <div class="panel accordion-item" *ngFor='let skill of scriptViewer.skills' (mouseenter)="onMouseEnterSkill(skill.id)">
                                <div class="accordion-heading">
                                    <p class="accordion-title">
                                        <a data-toggle="collapse" class="accordion-toggle skill-accordion-toggle-title skill-accordion-title" [href]="'#skill_' + skill.id">
                                            <span class="skill-label-value">{{ skill.name }}</span>
                                        </a>
                                        <span *ngIf="hoverSkillId === skill.id">
                                            <div class="question-picker-button" title="Question Picker" data-toggle="modal" data-target="#questionPicker" (click)="setSelectedSkillAndQuestions(skill)">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                        </span>
                                    </p>
                                    <div class="skill-accordion-subtitle">
                                        <tih-score *ngIf="(skill.interviewQuestions && skill.interviewQuestions.length) || (skill.interviewExercises && skill.interviewExercises.length)" [score]='getRatingBySkill(skill)' class="score-label-value"></tih-score>
                                        <span *ngIf="skill.priority" [class]="'uui-label ' + getSkillPriorityStyle(skill)">{{ skill.priority }}&nbsp;&nbsp;</span>
                                        <span *ngIf="skill.startingFrom" class="starting-label-value">{{ skill.startingFrom }}&nbsp;&nbsp;</span>
                                        <span class="topic-label-value" data-toggle="tooltip" data-container="body" data-html="true" data-placement="right" [attr.data-original-title]="getTopicsBySkill(skill)">Topics</span>
                                    </div>
                                </div>
                                <div class="accordion-collapse collapse in" [id]="'skill_' + skill.id">
                                    <div class="accordion-body">
                                        <br>
                                        <!-- QUESTIONS SET -->
                                        <table class="table" *ngIf='skill.interviewQuestions && skill.interviewQuestions.length === 0'>
                                            <tbody>
                                                <tr>
                                                    <td class="table-cell">No questions selected.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <template [ngIf]="skill.interviewQuestions && skill.interviewQuestions.length">
                                            <div [sortablejs]="skill.interviewQuestions" [sortablejsOptions]="sortablejsOptions">
                                                <div *ngFor="let question of skill.interviewQuestions" class="sortable-question">
                                                    <table>
                                                        <tr>
                                                            <td><span class="fa fa-bars" aria-hidden="true"></span>{{ question.body
                                                                }}
                                                            </td>
                                                            <td class="rating-cell">
                                                                <tih-star [rating]='question.rating' (ratingClicked)='question.rating=$event'></tih-star>
                                                            </td>
                                                            <td class="comments-cell">
                                                                <i [ngClass]="{ 'icon-button': true, 'fa': true, 'fa-comment': question.comments.length > 0, 'fa-comment-o': question.comments.length === 0 }"
                                                                    data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#skill_' + skill.id + '_question_' + question.id"
                                                                    [attr.aria-controls]="'skill_' + skill.id + '_question_' + question.id"></i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="collapse" [id]="'skill_' + skill.id + '_question_' + question.id">
                                                        <tih-history-comment [comments]="question.comments" (deleteCommentClicked)="deleteComment('question', skill.id, question.id, $event)"></tih-history-comment>
                                                        <input type="text" class="uui-form-element comments-input" placeholder="Additional Comments" (keyup.enter)="addComment('question', skill.id, question.id, $event)"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br>
                        <br>
                        <!-- EXERCISES SET -->
                        <div (mouseenter)="onMouseEnterExercises()">
                            <h3 class="medium-gray" style="text-transform: none;">Exercises&nbsp;&nbsp;
                                <div *ngIf="hoverExercises" title="Exercise Picker" class="question-picker-button" data-toggle="modal" data-target="#exercisePicker" (click)="setSelectedExercises(skill)">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </h3>
                            <table class="table" *ngIf="scriptViewer.interviewExercises && scriptViewer.interviewExercises.length === 0">
                                <tbody>
                                    <tr>
                                        <td class="table-cell">No exercises selected.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <section class="uui-tabs" *ngIf="scriptViewer.interviewExercises && scriptViewer.interviewExercises.length">
                                <div class="tabs-heading">
                                    <ul class="nav nav-tabs">
                                        <li *ngFor="let exercise of scriptViewer.interviewExercises; let index = index" [class.active]="index === 0">
                                            <a data-toggle="tab" [href]="'#tab_ex_' + exercise.id">{{ exercise.title }}
                                                <tih-score class="ex-score-label-value" [score]='exercise.rating'></tih-score></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tabs-body">
                                    <div class="tab-content">
                                        <div *ngFor="let exercise of scriptViewer.interviewExercises; let index = index" [id]="'tab_ex_' + exercise.id" [ngClass]="{ 'tab-pane': true, 'ex-tab-pane': true, 'active': index === 0 }">
                                            <h3 class="ex-subtitle-label">Related Skills</h3>
                                            <p class="gray">
                                                <template ngFor let-tag [ngForOf]="exercise.tags" let-last="last">
                                                    <span>{{ tag.name }}</span><span *ngIf="!last">, </span>
                                                </template>
                                            </p><br>
                                            <h3 class="ex-subtitle-label">Description</h3>
                                            <p class="gray">{{ exercise.body }}</p><br>
                                            <h3 class="ex-subtitle-label">Score</h3>
                                            <table>
                                                <tr>
                                                    <td class="ex-rating-cell">
                                                        <tih-star [rating]='exercise.rating' (ratingClicked)='exercise.rating=$event'></tih-star>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td class="ex-comment-cell">
                                                        <tih-history-comment [comments]="exercise.comments" (deleteCommentClicked)="deleteComment('exercise', 0, exercise.id, $event)"></tih-history-comment>
                                                        <input type="text" class="uui-form-element comments-input" placeholder="Additional Comments" (keyup.enter)="addComment('exercise', 0, exercise.id, $event)" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <span class="interview-report-title">Technical Interview Report</span><br><br>
                        <tih-report-viewer [interviewScript]="scriptViewer"></tih-report-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- QUESTION PICKER -->
    <div class="modal uui-modal fade blue" id="questionPicker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="selectedSkill">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ selectedSkill.name }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span><span></span></button>
                </div>
                <div class="modal-body">
                    <span *ngIf='questionBank && (questionBank | questionBankFilter : selectedSkill.id).length === 0'>No questions found for <b>{{ selectedSkill.name }}</b>.</span>
                    <table *ngIf='questionBank && (questionBank | questionBankFilter : selectedSkill.id).length'>
                        <tbody>
                            <tr *ngFor="let question of questionBank | questionBankFilter : selectedSkill.id">
                                <td>
                                    <p [ngClass]="{ 'uui-checkbox': true, 'square-skin': true, 'large': true,  'disable': !question.removable }">
                                        <input type="checkbox" [attr.disabled]="question.removable ? null : ''" [(ngModel)]="question.selected" [id]="'cbxQuestion_Skill' + selectedSkill.id + '_Question_' + question.id" />
                                        <label [for]="'cbxQuestion_Skill' + selectedSkill.id + '_Question_' + question.id">{{ question.body }}</label>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="uui-button transparent">Cancel</button>
                    <button type="button" class="uui-button lime-green" (click)="saveSelectedQuestions()">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <!-- EXERCISE PICKER -->
    <div class="modal uui-modal fade blue" id="exercisePicker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Exercises</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span><span></span></button>
                </div>
                <div class="modal-body">
                    <span *ngIf='exerciseBank && exerciseBank.length === 0'>No exercises found.</span>
                    <table *ngIf='exerciseBank && exerciseBank.length'>
                        <tbody>
                            <tr *ngFor="let exercise of exerciseBank">
                                <td>
                                    <p [ngClass]="{ 'uui-checkbox': true, 'square-skin': true, 'large': true, 'ex-tilte-picker': true,  'disable': !exercise.removable }">
                                        <input type="checkbox" [attr.disabled]="exercise.removable ? null : ''" [(ngModel)]="exercise.selected" [id]="'cbxExercise_Exercise_' + exercise.id" />
                                        <label [for]="'cbxExercise_Exercise_' + exercise.id">{{ exercise.title }}</label>
                                        <template [ngIf]="exercise.tags && exercise.tags.length > 1">
                                            <template ngFor let-tag [ngForOf]="exercise.tags">
                                                <span class="uui-label lime-green related-skills-label">{{ '+ ' + (tag.name) }}</span>
                                            </template>
                                        </template>
                                    </p>
                                    <p class="uui-description-text ex-descr-picker">{{ exercise.body }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="uui-button transparent">Cancel</button>
                    <button type="button" class="uui-button lime-green" (click)="saveSelectedExercises()">Accept</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf='scriptViewer === null && errorMessage !== null'>
    <div class="uui-alert-messages fuchsia" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        <strong>Error!</strong> There was an error when retrieving the Interview Script: {{ errorMessage.statusText }}
        <span class="sr-only">Close</span>
    </div>
</div>
<br>
<br>