/* SCRIPT VIEWER HEADER */

.script-viewer-header {
    background-color: #1A9CB0;
    color: #FFFFFF;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.script-viewer-title-box {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.script-viewer-title-box h2 {
    text-transform: none;
    margin-bottom: 2px;
}

.competency-level-label-value {
    font-family: 'Oswald Light';
    text-transform: uppercase;
}

.final-score-box {
    float: right;
    margin-left: 30px;
    text-align: center;
}

.final-score-label-text {
    font-family: 'Oswald Light';
    text-transform: uppercase;
}

.final-score-label-value {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    margin-bottom: 5px;
}

.average-final-score-label-value {
    background-color: rgba(255,255,255,.9);
    color: #1A9CB0;
    border: 1px solid #1A9CB0;
}

.final-score-label-value h2 {
    margin-bottom: 0px;
}

.script-viewer-top-btn {
    float:right;
    margin-left: 5px;
}

/* SKILL SETTING */

.skill-accordion-toggle-title {
    padding-bottom: 5px !important;
}

.skill-accordion-title {
    width: inherit !important;
    padding-right: 10px !important;
}

.skill-accordion-subtitle {
    padding: 0 15px 9px 15px;
}

.skill-label-value {
    font-family: 'Oswald Regular';
    color: #1A9CB0;
    text-transform: uppercase;
    font-size: 16px;
}

.topic-label-value {
    font-family: 'Oswald Light';
    color: #999999;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}

.starting-label-value {
    font-family: 'Oswald Regular';
    color: #666666;
    text-transform: uppercase;
    font-size: 11px;
}

.score-label-value {
    float: right;
    margin-top: -22px
}

.priority-very-low-label-value {
    background-color: #DDDDDD;
    color: #FFF !important;
    border: 1px solid #DDDDDD;
}

.priority-low-label-value {
    background-color: #AAAAAA;
    color: #FFF !important;
    border: 1px solid #AAAAAA;
}

.priority-medium-label-value {
    background-color: #777777;
    color: #FFF !important;
    border: 1px solid #777777;
}

.priority-high-label-value {
    background-color:  #444444;
    color: #FFF !important;
    border: 1px solid #444444;
}

.priority-very-high-label-value {
    background-color:  #111111;
    color: #FFF !important;
    border: 1px solid #111111;
}

.icon-button {
    cursor: pointer;
    color: #8B5A9F;
}

.uui-checkbox.square-skin input:disabled+label:after {
    border-color: #eee;
    background: #e5e5e5;
    color: #aaa;
}

/* QUESTION SETTING */

.sortable-question {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.rating-cell {
    text-align: right;
    width: 90px;
    color: #1A9CB0;
}

.uui-rating .star {
    font-size: 12px;
}

.comments-cell {
    text-align: right;
    width: 25px;
}

.comments-input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 15px;
}

.question-picker-button {
    cursor: pointer;
    color: #8B5A9F;
    font-family: 'Oswald Regular';
    font-size: 20px;
    display: inline-block;
}

.related-skills-label {
    height: 17px;
    line-height: 16px;
    padding: 0 6px;
    background: #eee;
    border-color: #ccc;
    color: #999!important;
}

.fa-bars {
    cursor: move;
    cursor: -webkit-grabbing;
    margin-right: 5px;
}

/* EXERCISE SETTING */

.ex-tab-pane {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ex-subtitle-label {
    font-family: 'Oswald Regular';
    color: #666666;
    text-transform: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.ex-rating-cell {
    width: 90px;
    color: #1A9CB0;
    border-right: 1px #CCC solid;
    height: 55px;
    vertical-align: top;
    padding-top: 7px;
}

.ex-comment-cell {
    padding-left: 10px;
    vertical-align: top;
}

.ex-tilte-picker {
    margin-bottom: 2px;
}

.ex-descr-picker {
    margin: 0 0 12px 25px;
}

.ex-score-label-value {
    display: inline-block;
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari */
    transform: scale(0.7, 0.7);
    margin-right: -5px;
}

.interview-report-title {
    font-family: 'Oswald Regular';
    color: #1A9CB0;
    text-transform: uppercase;
    font-size: 18px;
}

.item {
    text-align: left;
    padding: 2px;
}