<div *ngIf='scriptViewer'>
    <div class="script-viewer-header">
        <div class="container">
            <div class="final-score-box">
                <h2><span class="final-score-label-value">{{ getFinalScore() | number:'1.0-1' }}</span></h2><br>
                <span class="final-score-label-text">Final Score</span>
            </div>
            <div class="script-viewer-title-box">
                <h2>{{ scriptViewer.competencyName }} {{ scriptViewer.domain }}</h2>
                <span class="competency-level-label-value">{{ scriptViewer.level.name }} - {{ scriptViewer.level.description }}</span>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <button class="uui-button lime-green" style="float:right;" (click)="showPreview()">{{ !isOnPreview ? 'Interview Report' : 'Back to Script Viewer' }}</button>
        <br><br><br>
        <div id="uuiCarousel" class="slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div>
                        <!-- SKILLS SET -->
                        <section class="uui-accordion cards-accordion" id="accordion-skills" *ngIf="scriptViewer.skills && scriptViewer.skills.length">
                            <div class="panel accordion-item" *ngFor='let skill of scriptViewer.skills'>
                                <div class="accordion-heading">
                                    <p class="accordion-title">
                                        <a data-toggle="collapse" class="accordion-toggle skill-accordion-toggle-title" [href]="'#skill_' + skill.id">
                                            <span class="skill-label-value">{{ skill.name }}</span>
                                        </a>
                                    </p>
                                    <div class="skill-accordion-subtitle">
                                        <tih-score [score]='getRatingBySkill(skill)' class="score-label-value"></tih-score>
                                        <span [class]="'uui-label ' + getSkillPriorityStyle(skill)">{{ skill.priority }}</span>&nbsp;&nbsp;
                                        <span class="starting-label-value">{{ skill.startingFrom }}</span>&nbsp;&nbsp;
                                        <span class="topic-label-value " data-toggle="tooltip" data-container="body" data-html="true" data-placement="right" [attr.data-original-title]="getTopicsBySkill(skill)">Topics</span>
                                    </div>
                                </div>
                                <div class="accordion-collapse collapse in" [id]="'skill_' + skill.id">
                                    <div class="accordion-body">
                                        <div class="question-picker-button" data-toggle="modal" data-target="#popupPicker" (click)="setSelectedSkill(skill)">
                                            <i class="fa fa-pencil"></i>
                                            <span>Questions & Exercises</span>
                                        </div>
                                        <!-- QUESTIONS SET -->
                                        <span *ngIf="skill.questions && (skill.questions| questionFilter : 'selected' : 'true').length === 0">No questions selected.</span>
                                        <table class="table" *ngIf='skill.questions && skill.questions.length'>
                                            <tbody>
                                                <tr *ngFor="let question of skill.questions | questionFilter : 'selected' : 'true'">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>{{ question.question }}</td>
                                                                <td class="rating-cell">
                                                                    <tih-star [rating]='question.rating' (ratingClicked)='question.rating=$event'></tih-star>
                                                                </td>
                                                                <td class="comments-cell">
                                                                    <i [ngClass]="{ 'icon-button': true, 'fa': true, 'fa-comment': question.comments.length > 0, 'fa-comment-o': question.comments.length === 0 }"
                                                                        data-toggle="collapse" aria-expanded="false" [attr.data-target]="'#skill_' + skill.id + '_question_' + question.id"
                                                                        [attr.aria-controls]="'skill_' + skill.id + '_question_' + question.id"></i>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="collapse" [id]="'skill_' + skill.id + '_question_' + question.id">
                                                            <tih-history-comment [comments]="question.comments" (deleteCommentClicked)="deleteComment('question', skill.id, question.id, $event)"></tih-history-comment>
                                                            <input type="text" class="uui-form-element comments-input" placeholder="Additional Comments" (keyup.enter)="addComment('question', skill.id, question.id, $event)"
                                                            />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <br>
                        <br>
                        <!-- EXERCISES SET -->
                        <h3 class="medium-gray" style="text-transform: none;">Exercises</h3>
                        <section class="uui-tabs" *ngIf="getIndexFirstTab() >= 0">
                            <div class="tabs-heading">
                                <ul class="nav nav-tabs">
                                    <template ngFor let-skill [ngForOf]="scriptViewer.skills" let-indexSkill="index">
                                        <li *ngFor="let exercise of skill.exercises | exerciseFilter : 'selected' : 'true'; let exIndex = index" [class.active]="indexSkill == getIndexFirstTab() && exIndex == 0">
                                            <a data-toggle="tab" [href]="'#tab_ex_' + exercise.id">{{ exercise.title }}</a>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <div class="tabs-body">
                                <div class="tab-content">
                                    <template ngFor let-skill [ngForOf]="scriptViewer.skills" let-indexSkill="index">
                                        <div *ngFor="let exercise of skill.exercises | exerciseFilter : 'selected' : 'true'; let exIndex = index" [id]="'tab_ex_' + exercise.id"
                                            [ngClass]="{ 'tab-pane': true, 'ex-tab-pane': true, 'active': (indexSkill == getIndexFirstTab() && exIndex == 0) }">
                                            <h3><span class="ex-subtitle-label">Description</span></h3>
                                            <p class="gray">{{ exercise.description }}</p><br>
                                            <h3><span class="ex-subtitle-label">Score</span></h3>
                                            <table>
                                                <tr>
                                                    <td class="ex-rating-cell">
                                                        <tih-star [rating]='exercise.rating' (ratingClicked)='exercise.rating=$event'></tih-star>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td class="ex-comment-cell">
                                                        <tih-history-comment [comments]="exercise.comments" (deleteCommentClicked)="deleteComment('exercise', skill.id, exercise.id, $event)"></tih-history-comment>
                                                        <input type="text" class="uui-form-element comments-input" placeholder="Additional Comments" (keyup.enter)="addComment('exercise', skill.id, exercise.id, $event)"
                                                        />
                                                    </td>
                                                </tr>
                                            </table>
                                </div>
                                </template>
                            </div>
                    </div>
                    </section>
                </div>
            </div>
            <div class="item">
                <div>
                    <span class="interview-report-title">Technical Interview Report</span><br><br>
                    <tih-report-viewer [interviewScript]="scriptViewer"></tih-report-viewer>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUESTION & EXERCISES PICKER -->
<div class="modal uui-modal fade blue" id="popupPicker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    *ngIf="selectedSkill">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ selectedSkill.name }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span><span></span></button>
            </div>
            <div class="modal-body">
                <br>
                <section class="uui-tabs">
                    <div class="tabs-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tabQuestions">Questions</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabExercises">Exercises</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-body">
                        <div class="tab-content">
                            <div id="tabQuestions" class="tab-pane active">
                                <br><br>
                                <table *ngIf='selectedSkill.questions && selectedSkill.questions.length'>
                                    <tbody>
                                        <tr *ngFor="let question of selectedSkill.questions">
                                            <td>
                                                <p class="uui-checkbox square-skin large">
                                                    <input type="checkbox" [(ngModel)]="question.selected" [id]="'cbxQuestion_Skill' + selectedSkill.id + '_Question_' + question.id"
                                                    />
                                                    <label [for]="'cbxQuestion_Skill' + selectedSkill.id + '_Question_' + question.id">{{ question.question }}</label>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                            <div id="tabExercises" class="tab-pane">
                                <br><br>
                                <span *ngIf='selectedSkill.exercises && selectedSkill.exercises.length == 0'>No exercises found for <b>{{ selectedSkill.name }}</b>.</span>
                                <table *ngIf='selectedSkill.exercises && selectedSkill.exercises.length'>
                                    <tbody>
                                        <tr *ngFor="let exercise of selectedSkill.exercises">
                                            <td>
                                                <p class="uui-checkbox square-skin large">
                                                    <input type="checkbox" [(ngModel)]="exercise.selected" [id]="'cbxExercise_Skill' + selectedSkill.id + '_Exercise_' + exercise.id"
                                                    />
                                                    <label [for]="'cbxExercise_Skill' + selectedSkill.id + '_Exercise_' + exercise.id">{{ exercise.title }}</label>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="uui-button lime-green">Ok</button>
            </div>
        </div>
    </div>
    </div>

    </div>
    <br>
    <br>