.report-template {
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.skill-name {
    margin-bottom: 0px;
    line-height: 20px;
}

.numberOfQuestion-cell {
    width: 20px;
}

.report-label {
    font-family: 'Source Sans Pro Italic';
}