<div *ngIf='questions'>
    <div class="question-list-header">
        <div class="container">
            <button class="uui-button lime-green" style="float:right" [routerLink]="['/questions/0']">Add</button>
            <div class="question-list-title-box">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="container" *ngIf='questions && questions.length'>
        <table class="uui-table dynamic stripe records-per-page search showing-pages paging">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Competency</th>
                    <th>Skill</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let question of questions'>
                    <td><a [routerLink]="['/questions', question.id]">
                        {{question.body}}
                        </a>
                    </td>
                    <td>{{question.competency.name}}</td>
                    <td>{{question.tag.name}}</td>
                    <td>
                        <a class="uui-button small" [routerLink]="['/questions', question.id]">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>