<div *ngIf='question'>
    <div class="question-edit-header">
        <div class="container">
            <div class="question-edit-title-box">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <form class="form-horizontal" novalidate (ngSubmit)="saveQuestion()" [formGroup]="questionForm">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': displayMessage.body}">
                    <label class="col-md-2 control-label" for="bodyId">Body</label>
                    <div class="col-md-8">
                        <input class="form-control" id="bodyId" type="text" placeholder="Body (required)" formControlName="body" />
                        <span class="help-block" *ngIf="displayMessage.body">
                            {{displayMessage.body}}
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': displayMessage.answer}">
                    <label class="col-md-2 control-label" for="answerId">Answer</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="answerId" placeholder="Answer (optional)" rows=3 formControlName="answer"></textarea>
                        <span class="help-block" *ngIf="displayMessage.answer">
                            {{displayMessage.answer}}
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': displayMessage.skill}">
                    <label class="col-md-2 control-label" for="skillId">Skill</label>
                    <div class="col-md-3">
                        <select id="skillId" class="form-control" formControlName="skillId">
                            <option *ngIf="skillId === 0" ng-selected [attr.value]="0">-- Select --</option>
                            <option *ngFor="let tag of tags" ng-selected="tag.id === skillId" [attr.value]="tag.id">{{tag.name}}</option>
                        </select>
                        <span class="help-block" *ngIf="displayMessage.skill">
                            {{displayMessage.skill}}
                        </span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': displayMessage.competency}">
                    <label class="col-md-2 control-label" for="competencyId">Competency</label>
                    <div class="col-md-3">
                        <select id="competencyId" class="form-control" formControlName="competencyId">
                            <option *ngIf="competencyId === 0" ng-selected [attr.value]="0">-- Select --</option>
                            <option *ngFor="let competency of competencies" ng-selected="competency.id === competencyId" [attr.value]="competency.id">{{competency.name}}</option>
                        </select>
                        <span class="help-block" *ngIf="displayMessage.competency">
                            {{displayMessage.competency}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-8 uui-input-group horizontal">
                        <button class="uui-button transparent" type="submit" [disabled]='!questionForm.valid'>
                            Save
                        </button>
                        <button class="uui-button transparent" [routerLink]="['/questions']">
                            Cancel
                        </button>
                        <button class="uui-button transparent" (click)="deleteQuestion()">
                            Delete
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>