.minus-margin-top
{
    margin-top: -3px;
    margin-left: 5px;
}
.plus-margin-5
{
    margin: 5px 5px 5px 0px;
}
.plus-margin-vertical
{
    margin-top: 15px;
    margin-bottom: 15px;
}
select
{
    width: 200px;
}
select[name='level']
{
    min-width: 80px;
    width: 80px;
}
.right-Button
{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}