.minus-margin-top
{
    margin-top: -3px;
    margin-left: 5px;
}
.plus-margin-5
{
    margin: 5px;
}
.plus-margin-vertical
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.panel{
    border: none !important;
}
select
{
    width: 220px;
}
select[name='level']
{
    min-width: 100px;
    width: 100px;
}
.right-Button
{
    float: right;
}
.padding-bottom{
    padding-bottom: 50px;
}
.inline-container{
    margin: 5px;
    float: left;
    min-height: 64px;
    border: 1px solid brown;
}