<div class="data-import-header">
    <div class="container">
        <div class="data-import-header-title">
            <h2 class="data-import-header-title">Data Import</h2>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <tih-file-upload [url]="url" [additionalParameter]='[{"requiredProperties":[ "id", "body", "answer", "skill.id", "skill.name","competency.id", "competency.name"]}]' [queueLimit]='1' [maxFileSize]='262144000' [allowedFileType]='["xls"]' (fileOver)="fileOverBase($event)" (itemUpload)="proccessFile($event)"></tih-file-upload>
    <br>
    <br>
</div>