.score-value {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
}

.score-value-0 {
    border: 1px #CCCCCC solid;
    background-color: #FFFFFF;
    color: #CCCCCC;
}

.score-value-1 {
    background-color: #B22746;
    color: #FFFFFF;
}

.score-value-2 {
    background-color: #FFDC19;
    color: #FFFFFF;
}

.score-value-3 {
    background-color: #FF9B19;
    color: #FFFFFF;
}

.score-value-4 {
    background-color: #A3C644;
    color: #FFFFFF;
}

.score-value-5 {
    background-color: #7F993A;
    color: #FFFFFF;
}