<div *ngIf='exercises'>
    <div class="exercise-list-header">
        <div class="container">
            <div class="exercise-list-title-box">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <table class="uui-table dynamic stripe records-per-page search showing-pages paging">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Competency</th>
                    <th>Skill</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let exercise of exercises'>
                    <td><a [routerLink]="['/exercises', exercise.id]">
                        {{exercise.title}}
                        </a>
                    </td>
                    <td>{{exercise.tags[0].name}}</td>
                    <td>{{exercise.competency.name}}</td>
                    <td>
                        <a class="uui-button small" [routerLink]="['/exercises', exercise.id]">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>