<div *ngIf='exercises'>
    <div class="exercise-list-header">
        <div class="container">
            <button class="uui-button lime-green" style="float:right" [routerLink]="['/exercises/0']">Add</button>
            <div class="exercise-list-title-box">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="container" *ngIf='exercises && exercises.length'>
        <table class="uui-table dynamic stripe records-per-page search showing-pages paging">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Competency</th>
                    <th>Skill</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let exercise of exercises'>
                    <td><a [routerLink]="['/exercises', exercise.id]">
                        {{exercise.title}}
                        </a>
                    </td>
                    <td>{{exercise.competency.name}}</td>
                    <td>
                        <div class="col-md-8">
                                <ul id="tagIt" class="exercise-edit-skills">
                                    <li *ngFor="let skill of exercise.skills">{{skill.name}}</li>
                                </ul>
                            </div>
                    </td>
                    <td>
                        <a class="uui-button small" [routerLink]="['/exercises', exercise.id]">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
