h3 {
    margin-bottom: 15px;
}

.report-header{
    text-transform: uppercase;
    font-family: 'Oswald Regular',Arial,sans-serif;
    font-size: 18px;
}

.report-template {
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.skill-name {
    margin-bottom: 0px;
    line-height: 20px;
}

.clipBoardText {
    border: 0;
    overflow: hidden;
    height: 1px;
}

.clipBoardText::selection {
    background: #FFF;
}


ul {
    list-style-type: none;
}

li {
    font-size: inherit;
}

p {
    text-indent: 13px;
}

.report-label {
    font-family: 'Source Sans Pro Italic';
}