<div class="report-template">
    <h3>List of Skills Checked</h3>
    <div *ngFor="let skill of interviewScript.skills">
        <b><h6 class="skill-name">{{ skill.name }}</h6></b>
        <span class="report-label"><i>Score: </i></span><span>{{ getRatingBySkill(skill) | number:'1.0-1' }}</span><br><br>
        <ul>
            <li *ngFor="let question of skill.interviewQuestions; let index = index;">
                <i>{{ index + 1 + ') ' + question.question.text }}</i>
                <p *ngIf="question.comments && !question.comments.length">No comments.</p>
                <p *ngFor="let comment of question.comments">{{ comment.text }}</p>
            </li>
        </ul>
        <br>
    </div>
    <br>
    <h3>Coding</h3>
    <template ngFor let-skill [ngForOf]="interviewScript.skills" let-index="index">
        <div *ngFor="let exercise of skill.interviewExercises">
            <b><h6>{{ exercise.title }}</h6></b>
            <table>
                <tbody>
                    <tr>
                        <td class="report-label" style="width:80px;"><i>Score:</i></td>
                        <td>{{ exercise.rating }}</td>
                    </tr>
                    <tr>
                        <td class="report-label"><i>Skill:</i></td>
                        <td>{{ skill.name }}</td>
                    </tr>
                    <tr *ngIf="exercise.comments && !exercise.comments.length">
                        <td colspan="2">No comments.</td>
                    </tr>
                    <tr *ngFor="let comment of exercise.comments">
                        <td class="report-label"><i>Comments:</i></td>
                        <td>{{ comment.text }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </template>
</div>