<div class="report-template">
    <span class="report-header">Summary</span>
        <p>-</p>
    <span class="report-header">Pros</span>
        <p>-</p>
    <span class="report-header">Cons</span>
        <p>-</p>
    <span class="report-header">Red Flags</span>
        <p>-</p>
    <span class="report-header">List of Skills Checked</span> <br>
    <span *ngFor="let skill of interviewScript.skills">
        <ng-container *ngIf="(getRatingBySkill(skill)) > 0;">
            - [{{getRatingBySkill(skill) | number:'1.0-1' }}] {{ skill.name }} <br>
        </ng-container>
    </span>
    <br>
    <span class="report-header">Coding Excercise</span><br>
    <div *ngFor="let skill of interviewScript.interviewExcercises">
        <span><b>Title:</b> {{excercise.title}}</span><br>
        <span><b>Description:</b> {{excercise.body}}</span><br>
        <span *ngIf="!question.comments && question.comments.length"><b>Comments:</b></span><br>
        <span *ngFor="let comment of exercise.comments">- {{ comment.text }}</span><br>
    </div>
    <br>
    <span class="report-header">Questions</span>
    <div *ngFor="let skill of interviewScript.skills">
        <ng-container *ngIf="getRatingBySkill(skill) > 0">
            <span><b>[{{getRatingBySkill(skill) | number:'1.0-1' }}] {{ skill.name }}</b></span><br>
            <ng-container *ngFor="let question of skill.interviewQuestions; let index = index;">
                <span> - {{'[' + question.rating+'] '+question.body }}</span> <i *ngFor="let comment of question.comments; let last = last"> {{ comment.text }}<i *ngIf="!last">,</i></i> <br>
            </ng-container>
        </ng-container>
    </div>  
    <br>
    <span class="report-header">Suggestions for the Candidate</span>
    <p>-</p>
</div>

<!-- ClipBoard -->
<textarea id="clipBoard" class="clipBoardText"></textarea>